<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
    <test name="apiTest">
        <classes>
            <class name="api.test.AuthApiTest"/>
            <class name="api.test.SubjectApiTest"/>
            <class name="api.test.SubtopicApiTest"/>
            <class name="api.test.QuestionTest"/>
            <class name="api.test.MarkProgressApiTest"/>
        </classes>
    </test>
</suite>