<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PrepMate Automation Suite" parallel="false">

    <listeners>
        <listener class-name="seleniumTest.listeners.TestListener"/>
    </listeners>

    <test name="All Page Tests">
        <packages>
            <package name="seleniumTest.pageTest"/>
        </packages>
    </test>

</suite>
